@media all {
    body {
        font-family: Verdana, Arial, sans-serif !important;
        font-size: 14px;
        /*	line-height: 21px;*/
        background-color: #FFF;
        margin: auto;
        max-width: 1000px;
    }
    /*
    body #content {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    */
    .figure {
        float: right;
    }
    p {
        margin-left: 1.5%;
    }
    h1 {
        font-size: 2em;
        padding: 0 0 0 0;
        color: #000000;
    }
    h2 {
        font-size: 1.45em;
        /*	line-height:100%;*/
        padding: 2% 0 0 0;
        color: #000000;
    }
    ul,
    h3 {
        font-size: 1.1em;
        /*line-height: 120%;*/
        color: #000000;
    }
    a {
        text-decoration: none;
        color: #003399;
    }
    a:visited {
        text-decoration: none;
        color: #003399;
    }
    a:hover {
        text-decoration: underline;
        color: #003399;
    }
}